#main {
    margin-top: 68px;
}

#logo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    height: 68px;
    width: 100vw;
    background-image: url(https://documentation.chartiq.com/img/CIQ_logo_full_negative.png);
    background-color: #131d24;
    background-size: 121px 45px;
    background-position: 20px center;
}

#logo::after {
    content: "Native Android SDK";
    position: absolute;
    left: 160px;
    color: white;
    font-size: 16px;
    top: 24px;
}

#leftColumn {
    border-right: 0px;
    align-items: center;
    margin-top: 68px;
}

#paneSearch {
    display: flex;
    width: calc(100% - 1px);
    align-items: center;
    justify-content: center;
}

.paneSearchInputWrapper {
    width: 248px;
}

#paneSearch, #sideMenu {
    border-right: 1px solid #DADFE6;
}

.platform-tag.jvm-like {
    background-color: rgb(59, 114, 98);
}